TCPKeepAlive yes
ServerAliveInterval 30
LogLevel QUIET

Host github.com
  HostName github.com
  User git
  PubKeyAuthentication yes
  UseKeychain yes
  AddKeysToAgent yes
  IdentityFile ~/.ssh/github_rsa

Host gitlab gitlab.nuna.cloud gitlab.int.nunahealth.com
  User git
  HostName gitlab.nuna.cloud
  PKCS11Provider /usr/local/lib/opensc-pkcs11.so

Host *.int.nunahealth.com *.nuna.cloud *.nuna.health
  ForwardAgent yes
  PubKeyAuthentication yes
  PKCS11Provider /usr/local/lib/opensc-pkcs11.so

Host okaymay.be
  User bitnami
  PubKeyAuthentication yes
  IdentityFile ~/.ssh/bitnami-Hi70X2s.pem

Host pihole
  Hostname pihole.local
  User alan
  PubKeyAuthentication yes
  PKCS11Provider /usr/local/lib/opensc-pkcs11.so
  
Host bots
  Hostname raspberrypi4.local
  User nodejs
  PubKeyAuthentication yes
  PKCS11Provider /usr/local/lib/opensc-pkcs11.so

Host raspberrypi4
  Hostname raspberrypi4.local
  User pi
  PubKeyAuthentication yes
  PKCS11Provider /usr/local/lib/opensc-pkcs11.so

Host github-skull
  HostName github.com
  User git
  PubKeyAuthentication yes
  IdentityFile ~/.ssh/github_skull_rsa

Host alan.ws.int.nunahealth.com
  HostName alan.ws.int.nunahealth.com
